body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
color: #434455;
font-weight: 400;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

h1, h2, h3, p {
margin: 0;
}

img {
display: block;
max-width: 100%;
}

.container {
max-width: 320px;
padding: 0 16px;
margin: 0 auto;
}

@media screen and (min-width: 768px){
.container {
max-width: 768px;
}
}

@media screen and (min-width:1158px) {

.container {
max-width: 1158px;
padding: 0 15px;   
}
}

button {
font-family: inherit;
}

input {
padding: 0;
margin: 0;
font-family: inherit;
}

/*---------------------------HEADER-------------------------------*/


.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-navigation {
display: flex;
align-items: center;
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 17px 0;
}

.logo .accent {
color: #2e2f42;
}

.header-list {
display: none;
}


.address {
font-style: normal;
margin-left: auto;
display: none;
}


.open-menu-btn {
padding: 0;
background-color: transparent;
cursor: pointer;
line-height: 0;
border: none;
}


@media screen and (min-width:768px) {

.open-menu-btn {
display: none;
}

.logo {
margin-right: 120px;
}

.header-list {
display: flex;
gap: 40px;
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
color: #404bbf;
}

.current {
position: relative;
color: #404bbf;
}

.header-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
border-radius: 2px;
height: 4px;
background-color: #404bbf;
}

.address {
display: block;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
}


@media screen and (min-width:1158px) {

.logo {
margin-right: 76px;
}

.address-list {
flex-direction: row;
gap: 40px;
}

.contacts {
font-size: 16px;
line-height: 1.5;
}
}





/* ------------------------SOLUTION-------------------------*/


.solution {
background-color: #2e2f42;
width: 100%;
margin: 0 auto;
padding: 72px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

@media (min-resolution: 192dpi) {
.solution {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/people-office2x.jpg);
}
}


.solution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        max-width: 216px;
        margin: 0 auto;
        margin-bottom: 72px;
    }

.solution-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.solution-button:focus,
.solution-button:hover {
background-color: #404bbf;
}

@media screen and (min-width:768px) {

.solution{
padding: 112px 0;
}

.solution-title {
font-size: 56px;
line-height: 107%;
max-width: 496px;
margin-bottom: 36px;
}
}

@media screen and (min-width:1158px) {

.solution {
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

.solution-title {
margin-bottom: 48px;
}

}

/*------------------------- Features----------------------*/


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.features {
padding: 96px 0;
}


.features-list{
display: flex;
flex-direction: column;
gap: 72px;
justify-content: center;   
}

.feature-icons {
display: none;

}

.name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 0;
}

@media screen and (min-width:768px) {

.features-list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
column-gap: 24px;
row-gap: 72px;
}

.features-item {
flex-basis: calc((100% - 24px) / 2);
}

.name {
text-align: left;
}
}

@media screen and (min-width:1158px) {

.features {
padding: 120px 0;
}

.features-list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
column-gap: 24px;
row-gap: 72px;
}

.features-item {
display: inline-block;
max-width: 264px;
margin: 0;
}

.feature-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: left;
}

.text {
font-weight: 400;
}

}
/*-----------------------Team------------------------------ */


.team {
background: #f4f4fd;
padding: 96px 0;
}

.title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.team-images {
background: #fff;
border-radius: 0 0 4px 4px;
padding: 0px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
display: flex;
flex-direction: column;
align-items: center;
}

.team-name {
padding-top: 32px;
padding-bottom: 32px;
margin: 0;
}


.name-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.text-team {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.social-icon-list {
display: flex;
gap: 24px;
justify-content: center;
}

.social-icon-link {
display: flex;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.social-item-list {
width: 40px;
height: 40px;
}

.team-icon {
fill: #f4f4fd;
overflow-x: hidden;
overflow-y: hidden;
}

.social-icon-link:hover,
.social-icon-link:focus {
background-color: #404bbf;
}

@media screen and (min-width:768px) {

    
.team {
padding: 96px 108px;
}

.team-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 64px;
justify-content: center;
}

.team-images {
flex-basis: calc( (100% - 24px) / 2);
}

}

@media screen and (min-width:1158px) {

.team {
padding: 120px 0;
}

.team-list {
display: flex;
gap: 24px;
justify-content: center;
}

.team-images {
flex-basis: calc((100% - 72px) / 4);
}

}


/*-------------------------Portfolio--------------------------- */

.portfolio {
padding: 96px 0;
}


.portfolio-list {
display: flex;
flex-direction: column;
gap: 48px;
padding: 0;
margin: 0;
}

.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-card {
position: relative;
overflow: hidden;
}

.overlay-text {
padding: 40px 32px;
background-color: #4d5ae5;
color: #f4f4fd;
font-family: sans-serif;
position: absolute;
line-height: 1.5;
letter-spacing: 0.02em;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover .overlay-text {
transform: translateX(0);
}

.port-cont {
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
text-align: left;
margin: 0;
}

.name-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.desc {
font-weight: 400;
}

@media screen and (min-width: 768px) {
    
.portfolio-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px;
justify-content: center;
}
    
.portfolio-item {
flex-basis: calc((100% - 24px ) / 2);
}

}

@media screen and (min-width: 1158px) {

.portfolio-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
justify-content: center;
}

.portfolio-item {
flex-basis: calc((100% - 72px) / 3);
}

}


/*------------------------ Footer----------------------------- */

.footer {
background: #2e2f42;
padding: 96px 0;

}

.footer-container {
display: flex;
flex-direction: column;
gap: 72px;
justify-content: center;
width: ;
}


.logo-footer {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
display: flex;
justify-content: center;
color: #4d5ae5;
margin-bottom: 16px;
}

.logo-footer .accent {
color: #f4f4fd;
}


.text-footer {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
padding: 0;
}



.footer-text-media {
font-weight: 500;
color: #fff;
margin-bottom: 16px;
display: flex;
justify-content: center;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-list {
display: flex;
justify-content: center;
gap: 16px;
}

.footer-link {
display: flex;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
align-items: center;
justify-content: center;
align-items: center;
}

.footer-item {
height: 40px;
width: 40px;
}

.footer-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}


.form-text {
display: flex;
justify-content: center;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.form-footer {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}


.form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 0;
    padding-left: 16px;
}

.form-button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;

}

.form-icon {
margin-left: 16px;
fill: #fff;
}

@media screen and (min-width: 768px) {

.footer-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 74px;
justify-content: center;
}

.logo-footer {
display: flex;
justify-content: flex-start;
}

.footer-text-media {
display: flex;
justify-content: flex-start;
}

.form-text{
justify-content: flex-start;
}

.form-footer {
display: flex;
flex-direction: row;
gap: 24px;
justify-content: flex-start;
}

}

@media screen and (min-width: 1158px) {

.footer {
padding: 100px 0;
}

.footer-container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: baseline;
width: 1158px;
}

.footer-paragraf {
margin-right: 120px;
}



.footer-text-media {
display: block;
}


.form-footer {
display: flex;
align-items: flex-end;
gap: 24px;
}

}

/*-----------------Modal-------------------------*/

.modal-overlay {
position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    
}

.modal-button {
position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-button-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
background-color: #404bbf;
border: none;
}

.modal-button:hover > .modal-button-icon,
.modal-button:focus > .modal-button-icon {
fill: #ffffff;
}

.modal-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-form {
border-radius: 4px;
width: 256px;
height: 336px;
margin-bottom: 24px;
}

.modal-form-box {
    margin-bottom: 8px;
}

.modal-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.modal-label-box {
position: relative;
}


.modal-input {
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-box-textarea{
margin-bottom: 16px;
}

.modal-textarea {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
resize: none;
width: 100%;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within,
.modal-textarea:focus-within {
border-color: #4d5ae5;
}

.modal-input:focus + .modal-label-icon,
.modal-input:hover + .modal-label-icon {
fill: #4d5ae5;
}

.modal-checkbox {
margin-bottom: 24px;
}

.text-privacy {
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}

.checkbox-span {
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px;
}


.visually-hidden:checked + .text-privacy >.checkbox-span {
    background-color: #404bbf;
    fill: #f4f4fd;;
    border: none;
}

.checkbox-link {
    line-height: 1,33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.button-send {
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4d5ae5;
display: block;
margin: 0 auto;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

@media screen and (min-width:768px) {

.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
} 

.modal-form {
width: 360px;
}
}

@media screen and (min-width:1158px) {

.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
}

.modal-form {
width: 360px;
}

}

/*-------------------------HEADER-OVERLAY-------------------*/

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-overlay.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}


.header-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 640px;
    background: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.header-close-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    padding-top: 24px;
}

.header-modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-btn:hover,
.header-modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.header-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.header-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
}

.header-menu-link:hover,
.header-menu-link:focus {
color: #404bbf;
}


.address-menu{
margin-bottom: 48px;
}

.address-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.contacts-menu {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.contacts-menu:hover,
.contacts-menu:focus {
color: #4d5ae5;
}

.menu-social-icon {
margin-bottom: 40px;
}

